<p>Ask your coach anything</p>
<div class="formulaire">
  <form action="/answer" method="get" class="form-inline">
      <input type="text" name="question" class="form-control">
      <button type="submit" value="Ask!" class="btn btn-primary">Ask!</button>
  </form>
</div>
